/*Tabs ill the entire possible space*/
mat-tab-group{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-tab-body-wrapper{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

::ng-deep mat-tab-body{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-tab-body-content{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.gi-content-box{
    padding: 5%;
}

.gi-content-box label{
    padding-right: 15px;
}

.gi-content-box mat-radio-button{
    padding-right: 10px;
}