<mat-sidenav-container>  
  <mat-sidenav #sidenav role="navigation">  
    <app-log-in-sidenav-list *ngIf="isLoggedIn()" (logOut)="logUserOut()" (sidenavClose)="sidenav.close()"></app-log-in-sidenav-list>
    <app-sidenav-list *ngIf="!isLoggedIn()" (sidenavClose)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-log-in-header *ngIf="isLoggedIn()" (logOut)="logUserOut()" (sidenavToggle)="sidenav.toggle()"></app-log-in-header>
    <app-header *ngIf="!isLoggedIn()" (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>