//make containers allways use up all of their space
mat-sidenav-container, mat-sidenav{
    height: 100%;
}
mat-sidenav {
    width: 250px;
}

mat-sidenav-content{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

::ng-deep app-games{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

/*Global Classes*/

::ng-deep .fill-window-parent{
    display: flex;
    flex-direction: column;
}

::ng-deep .fill-window-child{
    flex: 1 0 auto;
}

::ng-deep .d-inline-block{
    display: inline-block;
}

::ng-deep .d-flex-inline-block{
    display: inline-flex;
}

::ng-deep .h-100{
    height: 100%;
}

::ng-deep .w-100{
    width: 100%;
}