//Make Tabs grow to end of window
mat-tab-group{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-tab-body-wrapper{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

::ng-deep mat-tab-body{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-tab-body-content{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}