#mainGalaxyScreen{
    display: block;
    width: 500px;
    height: 500px;
    background-color: #1a0163;
}

.ship{
    display: block;
    width: 10px;
    height: 10px;
    background-color: wheat;
}