<mat-tab-group mat-align-tabs="center" 
            (selectedTabChange)="checkForTab($event)">
    <mat-tab label="Joined Games"> 
        <ng-template matTabContent>
            <div class="fill-window-child">
                <div fxFill fxLayout="row" fxLayoutAlign="start start" > 
                    <div fxFlex class="h-100">
                        <div *ngFor="let game of joinedGames">
                            <button mat-button class="w-100" 
                                (click)="inspectGame(game)"> 
                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                    <h3>{{game.name}}</h3>
                                    <div fxFlex="20">
                                        <button *ngIf="!userInGame(game)" mat-raised-button
                                            (click)="callJoinGame(game, true)"> 
                                            <h3>Join Game</h3>
                                        </button>
                                        <button *ngIf="userInGame(game)" mat-raised-button
                                            (click)="callLeaveGame(game, true)"> 
                                            <h3>Leave Game</h3>
                                        </button>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="inspectedGame" fxFlex="40" class="h-100">
                        <app-game-inspection [displayed]="inspectedGame"
                            class="h-100 w-100 d-flex-inline-block"></app-game-inspection>
                    </div>
                </div>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Search for Games"> 
        <ng-template matTabContent>
            <div fxLayout="column" fxLayoutAlign="start start"  class="h-100">
                <div fxLayout="row" fxLayoutAlign="center start" class="w-100"> 
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input type="text" matInput 
                        [(ngModel)]="searchInput">
                    </mat-form-field>
                    <button mat-raised-button (click)="search()">
                        Start
                    </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="center start" fxFill fxFlex class="w-100"> 
                    <div fxFlex class="h-100">
                        <div *ngFor="let game of searchedGames">
                            <button mat-button class="w-100" 
                                (click)="inspectSearchedGame(game)"> 
                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                    <h3>{{game.name}}</h3>
                                    <div fxFlex="20">
                                        <button *ngIf="!userInGame(game)" mat-raised-button
                                            (click)="callJoinGame(game, false)"> 
                                            <h3>Join Game</h3>
                                        </button>
                                        <button *ngIf="userInGame(game)" mat-raised-button
                                            (click)="callLeaveGame(game, false)"> 
                                            <h3>Leave Game</h3>
                                        </button>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="searchInspectedGame" fxFlex="40" class="h-100">
                        <app-game-inspection [displayed]="searchInspectedGame"
                            class="h-100 w-100 d-flex-inline-block"></app-game-inspection>
                    </div>
                </div>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Start Game"> 
        <ng-template matTabContent>
            <app-game-edit [newGame]="newGame"
                class="h-100 w-100 d-flex-inline-block"></app-game-edit>
        </ng-template>
    </mat-tab>
</mat-tab-group>
  